<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>index page</h1>
    <!-- index.js에서 만들어 논 /second url로 이동 -->
    <!-- <a href="/second">Second page</a>   -->
    <!-- 유저가 입력한 데이터를 서버에 보내주기위한 태그 <form> -->
    <!-- <form action="/second" method="GET">

        <input type="text" name="ID">
        <input type="password" name="password">
        <input type="submit">
    </form> -->

    <h1>post 접속</h1>
    <form action="/third" method="post">
        <input type="text" name="name">
        <input type="submit">
    </form>
</body>
</html>